body{
  text-align: center;
}

.title-text{
  font-family: 'Bitter', serif;
  font-size: 50px;
}

.info{
  padding: 0px 40px 0px 40px;
  font-family: 'Roboto', sans-serif;
}

.info-group{
  margin-bottom: 30px;
}